.logo{
    float: left;
}
.logo1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 28px;
    color: rgb(99, 95, 95);
    padding: 21px;
    margin-left: 84px;
}
nav ul{
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    width: 17%;
}
nav ul li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.gate{
    width: 1070px;
    height: 420px;
}
.bri{
    width: 250px;
    height: 134px;
}
.bri2{
    width: 250px;
    height: 134px;
}
.bri3{
    width: 250px;
    height: 134px;
}
.nav2{
    margin-left: -38px;
}
footer{
    text-align: center;
}
caption{
    font-size: 24px;
    font-weight: bold;
    color: red;
    margin-left: -124px;
}
span{
    color: red;
}
#sub{
    background: blue;
    border-radius: 20px 20px 20px 20px;
    color: white;
}
.na{
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: solid 2px blue;
}
.body1{
    border: solid 1px rgb(206, 103, 103);
}
hr{
    width: 1300px;
}